* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
    margin: 0; /* Ingen kanter i siden af browser */
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}

.container{
    margin-left: 750px;
    margin-top: 100px;
    border-radius: 20px;
    border-color: whitesmoke ;
    border-style: solid;
    border-width: 10px;
    width: 600px;
    height: 700px;
    background-color: purple;
    opacity: 0.8;
    cursor: pointer;
}
.container:hover{
    background-color: darkred;
}

.div1{
    margin: 60px;
    border-radius: 20px;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 15px;
    width: 450px;
    height: 550px;
    background-color: deepskyblue;
    opacity: 0.8;
    cursor: pointer;
}

.div1:hover{
    background-color: blueviolet;
}
.div2{
    margin: 90px;
    border-radius: 215px;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 15px;
    width: 250px;
    height: 350px;
    background-color: cadetblue ;
    cursor: pointer;
}

img{
    border-radius: 215px;
    width: 250px;
    height: 320px;
    cursor: pointer;
}
.div2 {
    position: relative;
    margin: 90px;
    border-radius: 215px;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 15px;
    width: 250px;
    height: 350px;
    background-color: cadetblue ;
    cursor: pointer;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .10s ease;
}

.div2:hover .overlay {
    opacity: 6;
}
